*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input{
    border: none;
    outline: none;
}
button{
    border: none;
    outline: none;
}
a:link{
    text-decoration: none;
    list-style: none;
}